/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret,.caretx {
  cursor: pointer;
  color: blue;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret2::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  transform: rotate(90deg);
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
.caret-down2::before {
  transform: rotate(0deg);
}

/* Hide the nested list */
.nested,.nested2{
  display: none;
}


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active,.active2{
  display: block;
}

	
.flipPotato{
  width:210px;
  height:230px;
  text-align:center;
  vertical-align:center;
  font-size:35px;
  float:left;
  cursor:pointer;	
  margin-left:15px;
}
.flipPotato > .front{
  position:absolute;
  transform: perspective(600px) rotateY(0deg);
  background:#FFF;
  width:160px;
  height:220px;
  backface-visibility:hidden;
  transition: transform .5s linear 0s;
  padding:10px;		
  border:1px solid black;	
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.5);	
}	
.flipPotato > .back{
  position:absolute;
  transform: perspective(600px) rotateY(180deg);
  background:#FFFFFF;
  width:160px;
  height:220px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  padding:10px;		
  border:1px solid black;	
  border-radius:10px;	
  box-shadow:0 0 10px rgba(0,0,0,.5);	
}	
.flipPotato:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.flipPotato:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
.table-basic th{
	border:0px solid black;
	padding:5px;
	width:150px;
}
.table-basic td{
	border:0px solid black;
	padding:5px;
}
.table-skill{
	border-collapse: collapse;
}
.table-skill td{
	border:1px solid black;
	padding:5px;
}
#toggle{
	width:150px;
	height:30px;
	border-radius:5px;
	margin-left:20px;
}